doctype html
html
  head
    title Home
    link(rel='stylesheet' type='text/css' href='/assets/styles/style.css')
  body.page-create
    header.header
      h1
        a(href='/') Gaben's Blog
      ul.nav-buttons
        li
          a(class='btnGit' href='https://github.com/00014131id/posts-my-app').button Git-Hub
        li
          a(class='btnApi' href='/api/v1/posts') API 

    main
      block content
    footer(class='footer')
      a(class='fcont' href='https://github.com/00014131id/posts-my-app') This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.


      