extend home


block content
  div.main
    p(class='maintxt') Embrace the art of <br> digital expression.
    div.btns
      a(class='btn' href='/posts.app/create').button Add Post
      a(class='btn1' href='/posts1').button View Posts

  

